@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="btn-group">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Large button
        </button>
        <div class="dropdown-menu">
            <a asp-controller="Survey" asp-action="CreateSurvey">Create Survey</a>
        </div>
    </div>
</div>
